{% block 'header' %}
<div class="container-fluid">



<nav class="nav nav-pills flex-column flex-sm-row" style="height: 100px;">
          <a class="navbar-brand" href="{% path_to home %}" class="p-4">
            {% if site.metafields.theme.logo %}
            <img src="{{ site.metafields.theme.logo }}" alt="{{ site.name }}"  class="img-fluid "/>
            {% endif %}
          </a>

    <div class="row ">
      <div class="col-12  menu-categories d-none d-md-block">
        <div id="navbar" class="navbar-collapse ">
          <ul class="nav justify-content-start categories-menu">
          {% with_scope level: 0%}
            {% for category in store.categories %}
            <li class="{% if page.fullpath == page_in_nav.fullpath %}active{% endif %}"  data-toggle="display-hover" data-target="#menu-{{category.id}}">
              <a href="{{category.url_key  | prepend: url_base }}" id="cat-{{category.id}}"  aria-haspopup="true" aria-expanded="false">
                {{ category.name }}
              </a>
              <div class="dropdown-category" id="menu-{{category.id}}" style="width: 1000px; height: 450px;">
                <ul class="row" >
                  {% for category_l1 in category.childs %}
                  <li class="col-6">
                    <a  href="{{category_l1.url_key  | prepend: url_base }}" class="text-uppercase text-primary">
                      {{category_l1.name}}
                    </a>
                    <ul>
                      {% for category_l2 in category_l1.childs %}
                      <li>
                        <a href="{{category_l2.url_key | prepend: url_base }}" class="text-dark">
                          {{category_l2.name}}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            {% endfor %}
          {% endwith_scope%}
            {% for nav_page in site.pages%}
              {% if nav_page.listed? == true and nav_page.depth <= 1 %}
                <li class=" align-items-end">
                  <a href="{% path_to nav_page%}" class="align-self-end text-dark">{{nav_page.title}}</a>
                </li>
              {% endif %}
            {% endfor%}
          </ul>
        </div>
      </div>
    </div>
</nav>
  
</div>

{% endblock %}