---
title: Home page
published: true
handle: home

---

{% extends 'layouts/simple' %}


{% block content/main %}

<div class="container">
    <!---------------- CATEGORIE PAR ID  --------------->
{% with_scope id: 11 %}
    {% if store.categories.count > 0 %}
      {% for category in store.categories %}
        <div class="row">
          <div class="col-12">
            <div class="alert alert-secondary">
              <div class="row"><h3>{{ category.name }}</h3></div>
              <div class="row"><h5>{{ category.url_key }}</h5></div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
{% endwith_scope %}




<!----------------- VOIR TOUTES LES CATEGORIES ------------->
<div class="row" style="padding-bottom: 50px;">
    <div class="col-6">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Voir toute les categories
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if store.categories.count > 0 %}
                {% for category in store.categories %}
                    <a class="dropdown-item" href="#">{{ category.name }}</a>
                {% endfor %}
            {% endif %}
          </div>
        </div>
  </div>
</div>


<!-------------- NOMBRE DE RESULTAT PAR PAGE + NOMBRE DE RESULTAT ----------------------->
  <div class="row">
    <div class="col-4">
        <span class="text text-primary" style="margin-right: 20px;"><h2>Nombre de résultats :</h2></span>
    </div>

  <div class="col-1">
    <span class="text text-warning"><h1> {{ store.products.count }}</h1></span>
  </div>
  <div class="col-6 text-right">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nombre de résultats par page
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">12 par pages</a>
            <a class="dropdown-item" href="#">24 par pages</a>
            <a class="dropdown-item" href="#">36 par pages</a>
          </div>
        </div>
  </div>
</div>



  <!------------ LISTE TOUT LES PRODUITS  ---------------->
{% paginate store.products by 100 %}
    {% if store.products.count > 0 %}
    <div class="row">
      {% for product in paginate.collection %}
        <div class="card" style="width: 18rem;">
          <a href="{{product.url_key  | prepend: url_base }}?ref={{product.sku}}">
           <img src="{{ product.images.first.medium.src | default: site.metafields.theme.noimage }}" class="card-img-top" alt="...">
              <div class="card-body">
              <h3 class="card-title"><span class="text text-primary">{{ product.name }}</span></h3>
              <p class="card-text">{{ product.description | default: "<strong>Pas de description pour ce produit</strong>"}}</p>
              <h3><span class="text text-warning">{{ product.price.value | money }}</span></h3>
              <h4>{{ product.stock.global.state | translate }}</h4>
              <a href="#" class="btn btn-primary">Ajouter au panier</a>
              </div>
            </a>
          </div>
    {% endfor %}
      </div>
  {% endif %}
{% endpaginate %}



<!---------------------- LA LISTE DES BLOGS --------------------------->
  {% if contents.posts.size > 0 %}
  <div class="row pt-4 pb-4">
    <div class="col-12 pt-4">
      <div class="container pb-4">
        <div class="row">
          <div class="col-12 text-center pb-4">
            <h2 class="h1">
            {% editable_text post_title %}
              <span class="text-primary">Purchase</span><span class="text-warning"> guide</span>
            {% endeditable_text %}
            </h2>
          </div>
        </div>
        <div class="row post-mozaic">
        {% paginate contents.posts by 4%}
          {% for post in paginate.collection %}
          <!------- TAILLE DE LA MINIATURE --------->
          <div class="col-12 col-sm-6 post-mozaic-item">
            <div class="post-mozaic-img" style="background-image:url({{post.thumbnails.url | default: site.metafields.theme.noimage }})">
            </div>
            <div class="post-mozaic-content ">
             <h3 class="text-uppercase font-weight-bold">{{post.name}}</h3>
             <p class="small">{{post.short_description}}</p>
              <a href="{% path_to post %}" class="text-uppercase">
                {{'show_more' | translate}} <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
          {% endfor %}
        {% endpaginate %}
        </div>
      </div>
    </div>
  </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="alert alert-danger">Aucun article trouvé</div>
    </div>
  {% endif %}





  </div>
</div>
</div>
{% endblock %}
