---
title: Default Layout maison 
is_layout: false
---
{% if locale != default_locale %}
  {% assign url_base ="/" | append: locale %}
{% endif%}

{% assign url_base =url_base | prepend: base_url | append:"/"%}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#17a2b8">
    <meta name="generator" content="ShopInvader" />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        {{ 'application.css' | stylesheet_tag }}
        {% block 'css' %}{% endblock %}
        {% block 'javascripts_header' %}{% endblock %}
</head>
<body>


<div class="main_container">
  
  	<header>
  		{% include 'nav' %}
  	</header>



	
{% block content %}
{% endblock %}

<div class="container">

</div>


    {{ 'popper.min.js' | javascript_tag }}
    {{ 'jquery.min.js' | javascript_tag }}
    {{ 'jquery.slidereveal.min.js' | javascript_tag }}
    {{ 'jquery.touchSwipe.min.js' | javascript_tag }}
    {{ 'shopinvader.jquery.js' | javascript_tag }}
    {{ 'bootstrap4.min.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}


</body>
</html>